# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment directory
venv/

# Ignore environment variables file
.env

# Ignore compiled files
*.o
*.so
*.a

# Ignore log files
*.log

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore other project-specific files
build/
src/ml_promochator.egg-info/

data/

vectorstores/